server:
  port: 3333

spring:
  datasource:
    url: jdbc:mysql://thefaco-beverage.cry75t3vojiz.ap-northeast-2.rds.amazonaws.com:3306/beyerage?useUnicode=yes&characterEncoding=UTF-8
    username: admin
    password: 11111111
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    generate-ddl: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        temp:
          use_jdbc_metadata_defaults: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace